<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">140$</h5>
        <p class="card-text">total amount of payment</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">14</h5>
        <p class="card-text">Completed Items</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">4</h5>
        <p class="card-text">UnCompleted Items</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">14$</h5>
        <p class="card-text">Last payment total</p>
      </div>
    </div>
  </div>
  <p class="payment-header">Previous Payments<span>| 32 Payments</span></p>
  <app-table></app-table>
</div>
