<div class="container dishesSection">
    <h1>
        Our Dishes 
    </h1>
    <p>
        We consider all the drivers of change gives you the components
        <br>
        you need to change to create a truly happens.
    </p>
    <div class="categories">
        <div class="categoriesButtonCollection">
            <button class="btn categpryButton">
                All
            </button>
            <button class="btn categpryButton">
                Breakfast
            </button>
            <button class="btn categpryButton">
                Main Dishes
            </button>
            <button class="btn categpryButton">
                Drinks
            </button>
            <button class="btn categpryButton">
                Deserts
            </button>
        </div>
    </div>
    <div class="row">
        
            <app-dish class="col-sm-12 col-md-4 col-lg-3"></app-dish>
            <app-dish class="col-sm-12 col-md-4 col-lg-3"></app-dish>
            <app-dish class="col-sm-12 col-md-4 col-lg-3"></app-dish>
            <app-dish class="col-sm-12 col-md-4 col-lg-3"></app-dish>

    </div>
</div>