.fromSections {
    background-image: url("../../../assets/images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contactTitle{
    text-align: center;
}
.contactTitle h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}
.contactTitle p {
    font-size: 0.9rem;
}
textarea {
    resize: none;
}
.contactForm {
    width: 60%;
    margin: auto;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    padding: 40px;
    background-color: var(--secondary-color);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 40px;
}
.contactForm  input ,textarea {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 20px;
}
.contactForm button {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
}
.contactForm button:hover{
    background-color: var(--btn-color-hover);
}
.details span:first-of-type{
    color: var(--main-color);
    display:block;
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 1.1rem;
}
.resInfo{
    width: 60%;
    padding: 40px 10px;
    margin: auto;
}