<footer class="p-3 mt-5">
  <div class="row justify-content-center align-items-center row-gap-2">
    <div
      class="col-md-4 d-flex justify-content-start align-items-center column-gap-3"
    >
      <img src="assets/images/logo.png" width="60" height="60" />
      <h5>Bistro Bliss</h5>
    </div>
    <p class="col-md-4">
      In the new era of technology we look a in the future with certainty and
      pride to for our company and.
    </p>
    <div
      class="col-md-4 d-flex column-gap-2 justify-content-start justify-content-md-end"
    >
      <button class="social-con">
        <i class="bi bi-twitter fs-3" style="color: white"></i>
      </button>
      <button class="social-con">
        <i class="bi bi-facebook fs-3" style="color: white"></i>
      </button>
      <button class="social-con">
        <i class="bi bi-instagram fs-3" style="color: white"></i>
      </button>
      <button class="social-con">
        <i class="bi bi-github fs-3" style="color: white"></i>
      </button>
      <button class="social-con">
        <i class="bi bi-twitter fs-3" style="color: white"></i>
      </button>
    </div>
  </div>
</footer>
