@if (meal1 && meal2 && meal3) {
<div class="container">
  <div class="pt-5 pb-5">
    <div class="dishesTitle">
      <h3>{{ meal1.strMeal }}</h3>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" [title]="meal1.strMeal">
          <div class="card__image">
            <img [src]="meal1.strMealThumb" alt="Salad" loading="lazy" />
          </div>
          <div class="card__info">
            <div class="car__info--title">
              <h3>{{ meal1.name }}</h3>
              <p>{{ meal1.strIngredient1 }} & {{ meal1.strIngredient2 }}</p>
            </div>
            <div class="card__info--price">
              <p>{{ 500 | currency }}</p>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" [title]="meal2.strMeal">
          <div class="card__image">
            <img [src]="meal2.strMealThumb" alt="Salad" loading="lazy" />
          </div>
          <div class="card__info">
            <div class="car__info--title">
              <h3>
                {{ meal2.name }}
              </h3>
              <p>{{ meal2.strIngredient1 }} & {{ meal2.strIngredient2 }}</p>
            </div>
            <div class="card__info--price">
              <p>{{ 500 | currency }}</p>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" [title]="meal3.strMeal">
          <div class="card__image">
            <img [src]="meal3.strMealThumb" alt="Salad" loading="lazy" />
          </div>
          <div class="card__info">
            <div class="car__info--title">
              <h3>
                {{ meal3.name }}
              </h3>
              <p>{{ meal3.strIngredient1 }} & {{ meal3.strIngredient2 }}</p>
            </div>
            <div class="card__info--price">
              <p>{{ 500 | currency }}</p>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
