.dishesTitle h3 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
   overflow: hidden;
   border-radius: 25px;
   border: 1px solid lavender;
   margin: 10px;
   box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
}

.card__image {
   position: relative;
   height: 140px;
}
.card__image > img {
   max-width: 100%;
   border-bottom-right-radius: 30px;
   transform: rotate(10deg) translate(-15px, -55px);
   position: absolute;
   height: 200px;
   object-fit: cover;
   object-position: center;
}

.card__info {
   display: flex;
   align-items: flex-end;  
   justify-content: space-between;
   padding: 0px 30px 20px 30px;
}
.card__info h3 {
   font-weight: 700;
}
.card__info p {
   font-weight: 600;
}
.card__info--price {
   text-align: right;
   font-size: 1.5rem;
   color: var(--main-color);
}
.rect2 {
   position: relative;
   bottom: 315px;
   right: 15px;
   width: 325px;
   height: 230px;
   border: 1px solid lavender;
   border-radius: 0 0px 80px 0;
   transform: rotate(10deg);
   object-fit: cover;
}

