<div  style="background-color: whitesmoke; " class="valuableSection">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-12 col-lg-5">
                    <div class="valubaleInfo">
                        <h3>
                            A little information for our valuable guest
                        </h3>
                        <p>
                            At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.
                        </p>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mb-5">
                                <div class="statistics">
                                        <span>
                                            3
                                        </span>
                                        <span>
                                            Locations
                                        </span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-5">
                                <div class="statistics">
                                        <span>
                                            1995
                                        </span>
                                        <span>
                                            Founded
                                        </span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-5">
                                <div class="statistics">
                                        <span>
                                            65+
                                        </span>
                                        <span>
                                            Staff Members
                                        </span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-5">
                                <div class="statistics">
                                        <span>
                                            100%
                                        </span>
                                        <span>
                                            Satisfied Customers                                        </span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
            <div class="col-sm-12 col-lg-5">
                <div class="valuableImage">
                    <img src="../../../../assets/images/pexels-cottonbro-studio-4252139 1.jpg" alt="chef image">
                </div>
            </div>
        </div>
    </div>
    
</div>