<div
  class="review p-2 row-gap-2 d-flex flex-column border border-3 rounded-3 position-relative bg-light"
>
  <div class="d-flex column-gap-3 align-items-center">
    <img
      src="assets/images/Ellipse 19.jpg"
      class="rounded-circle"
      alt="avatar"
    />
    <div>
      <h5 class="mb-0">Customer Name</h5>
      <span class="fs-6 text-lowercase text-secondary text-center"
        >Customermail.com</span
      >
    </div>
    <!-- Check if review for this user -->
    <!-- if(user){ -->
    <button class="btn">
      <i class="bi bi-pencil-fill" style="color: var(--info-color)"></i>
    </button>
    <!-- } -->
  </div>
  <!-- <hr /> -->
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, accusamus
    nobis. Rem ab corporis a, laudantium aliquid repudiandae quae unde neque
    fuga magnam iure, pariatur optio ullam velit labore. Facilis!
  </p>
</div>
