@if(review){
<div
  class="review p-2 row-gap-2 d-flex flex-column border border-3 rounded-3 position-relative bg-light"
>
  <div class="d-flex column-gap-1 align-items-center justify-content-between">
    <img
      [src]="review.avatar"
      class="rounded-circle avatar"
      alt="avatar"
      loading="lazy"
    />
    <div>
      <h5 class="mb-0">{{ review.userName }}</h5>
      <span class="fs-6 text-lowercase text-secondary text-center">{{
        review.userEmail
      }}</span>
    </div>
    @if(this.userEmail===review.userEmail){
    <div class="d-flex justify-content-center column-gap-1">
      <button class="btn p-0" (click)="handleEditClick()">
        <i class="bi bi-pencil-fill" style="color: var(--info-color)"></i>
      </button>
    </div>
    }
  </div>
  <div>
    <textarea
      [value]="review.comment"
      [disabled]="edit"
      class="review_input"
      #myInput
    ></textarea>
    <div class="d-flex justify-content-end">
      <button
        [class.hide]="edit"
        type="submit"
        class="btn rounded-circle col-1 d-flex justify-content-center align-items-center"
        style="
          background-color: var(--main-color);
          width: fit-content;
          height: fit-content;
        "
        (click)="updateReview(myInput.value)"
      >
        <i class="bi bi-send-fill" style="color: white"></i>
      </button>
    </div>
  </div>
</div>
}
