.customerSaySection h3 {
    text-align: center;
    margin-bottom: 30px;
}
.customerSay {
    padding: 30px 40px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: whitesmoke;
}
.customerSay> span:first-child{
    color: var(--main-color);
    font-weight: 800;
    margin-bottom: 15px;
    display: inline-block;
}
.customerSay .spanSecond{
    font-size: 0.8rem;
}
.sayInfo{
   display: flex;
   align-items: center;
  
}
.sayInfo .image{
    margin-right: 15px;
}
.sayInfo .image img{
    width: 100%;
}
.sayInfo .image , .sayInfo .image img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.sayInfo .info span:first-child{
    font-weight: 500;
    margin-bottom: 10px;
}