<div class="mt-5 container">
    <div class="customerSaySection">
        <h3>    What Our Customers Say</h3>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="customerSay">
                    <span>
                        “The best restaurant”
                    </span>
                    <br>
                    <span class="spanSecond">
                        Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.
                    </span>
                    <hr>
                    <div class="sayInfo">
                        <div class="image">
                            <img src="../../../../assets/images/Ellipse 19.jpg" alt="profile picture">
                        </div>
                        <div class="info">
                                <span>
                                    Sophire Robson
                                </span>
                                <br>
                                <span>
                                    Los Angeles, CA
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="customerSay">
                    <span>
                        “The best restaurant”
                    </span>
                    <br>
                    <span class="spanSecond">
                        Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.
                    </span>
                    <hr>
                    <div class="sayInfo">
                        <div class="image">
                            <img src="../../../../assets/images/Ellipse 19.jpg" alt="profile">
                        </div>
                        <div class="info">
                                <span>
                                    Sophire Robson
                                </span>
                                <br>
                                <span>
                                    Los Angeles, CA
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="customerSay">
                    <span>
                        “The best restaurant”
                    </span>
                    <br>
                    <span class="spanSecond">
                        Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.
                    </span>
                    <hr>
                    <div class="sayInfo">
                        <div class="image">
                            <img src="../../../../assets/images/Ellipse 19.jpg" alt="profile picture">
                        </div>
                        <div class="info">
                                <span>
                                    Sophire Robson
                                </span>
                                <br>
                                <span>
                                    Los Angeles, CA
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>