<div style="background-color: whitesmoke;">
    <div class="container">
        <div class="blogSection pt-5 pb-5">
            <div class="blogheader pb-4 d-flex align-items-center justify-content-between">
                <h3>
                    Our Blog & Articles
                </h3>
                <button class="btn readBtn" routerLink="/blog">
                        Read all articles
                </button>
            </div>

            <div class="row pt-2">
                <div class="col-sm-12 col-md-6 pb-4">
                    <div class="leftBlog" routerLink="/blog">
                        <div class="blogImage">
                            <img style="width: 100%;" src="assets/images/blogImages/burger.png" alt="burger food">
                        </div> 
                        <div class="blogInfo p-4">
                            <span>
                                January 3, 2023
                            </span>
                            <h6>
                                The secret tips & tricks to prepare a perfect burger & pizza for our customers
                            </h6> 
                            <p>
                                Lorem ipsum dolor sit amet consectetur of a adipiscing elitilmim semper adipiscing massa gravida nisi cras enim quis nibholm varius amet gravida ut facilisis neque egestas.
                            </p>
                        </div>
                          
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                      <div class="row">
                        <div class="col-sm-12 col-md-6 pb-5">
                            <div class="leftBlog">
                                <div class="blogImage">
                                    <img style="width: 100%;" src="assets/images/blogImages/fries.png" alt="fires food">
                                </div> 
                                <div class="blogInfo p-3">
                                    <span>
                                         October 15, 2023
                                    </span>
                                    <h6 class="rightHeader"> 
                                        How to prepare french fries in an air fryer
                                    </h6> 
                                </div>
                                  
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 pb-5">
                            <div class="leftBlog">
                                <div class="blogImage">
                                    <img style="width: 100%;" src="assets/images/blogImages/friedchicek.png" alt=" friedwings urger food">
                                </div> 
                                <div class="blogInfo p-3">
                                    <span>
                                        March 5, 2023
                                    </span>
                                    <h6 class="rightHeader">
                                        How to prepare delicious chicken tenders   
                                     </h6> 
                                </div>
                                  
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 pb-4">
                            <div class="leftBlog">
                                <div class="blogImage">
                                    <img style="width: 100%;" src="assets/images/blogImages/cupCake.png" alt=" cupCake">
                                </div> 
                                <div class="blogInfo p-3 ">
                                    <span>
                                        June 5, 2023
                                    </span>
                                    <h6 class="rightHeader">
                                        7 delicious cheesecake recipes you can prepare
                                     </h6> 
                                </div>
                                  
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 pb-4">
                            <div class="leftBlog">
                                <div class="blogImage">
                                    <img style="width: 100%;" src="assets/images/blogImages/pizza.png" alt=" friedwings urger food">
                                </div> 
                                <div class="blogInfo p-3">
                                    <span>
                                        March 10, 2023
                                    </span>
                                    <h6 class="rightHeader">
                                        5 great pizza restaurants you should visit this city 
                                     </h6> 
                                </div>
                                  
                            </div>
                        </div>
                      </div>  
                </div>
            </div>

        </div>
    </div>
</div>