<div class="container rounded-3 mt-5">
  <div class="w-50 bg-light m-auto">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div>
          <img src="../../../assets/images/eggplate.jpg" width="100%" />
        </div>
      </div>
      <div class="col-sm-12 col-md-8">
        <p>Title</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
          cum! Cupiditate at eius voluptatibus inventore minima similique, vel
          blanditiis iste necessitatibus sed facilis reiciendis, praesentium
          quasi facere omnis quam nobis.
        </p>
      </div>
    </div>
  </div>
</div>
