<div style="background-color: whitesmoke">
  <div class="container dishesSection pt-5 pb-5 text-center">
    <h1>Our Blog & Articles</h1>
    <p class="pb-5">
      We consider all the drivers of change gives you the components
      <br />
      you need to change to create a truly happens.
    </p>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 pb-5">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/1.png"
              alt="fires food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> October 15, 2023 </span>
            <h6 class="rightHeader">
              How to prepare a delicious gluten free sushi
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-5">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/2.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 5, 2023 </span>
            <h6 class="rightHeader">
              Exclusive baking lessons from the pastry king
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/3.png"
              alt=" cupCake"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> June 5, 2023 </span>
            <h6 class="rightHeader">
              How to prepare the perfect fries in an air fryer
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/4.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              How to prepare delicious chicken tenders
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/5.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              5 great cooking gadgets you can buy to save time
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/6.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              5 great pizza restaurants you should visit this city
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/7.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              5 great cooking gadgets you can buy to save time
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/8.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              How to prepare a delicious gluten free sushi
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/9.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              Top 20 simple and quick desserts for kids
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/10.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              Top 20 simple and quick desserts for kids
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/11.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              The secret tips & tricks to prepare a perfect burger
            </h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 pb-4">
        <div class="leftBlog">
          <div class="blogImage">
            <img
              style="width: 100%"
              src="assets/images/blogImages/12.png"
              alt=" friedwings urger food"
              loading="lazy"
            />
          </div>
          <div class="blogInfo p-3">
            <span> March 10, 2023 </span>
            <h6 class="rightHeader">
              7 delicious cheesecake recipes you can prepare
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
