<div class="container">
  <div class="info">
    <div>
      <p>1. Email Address</p>
      <button class="btn-change">Change</button>
    </div>
    <p>johnDee&commat;gmail.com</p>
  </div>
  <div class="info">
    <div>
      <p>2. Shipping Address</p>
      <button class="btn-change">Change</button>
    </div>
    <p>john Dee || 73 Manor Road || London</p>
  </div>
  <div class="info delivery">
    <div>
      <p>3. Delivery</p>
    </div>
    <input type="radio" id="standard" name="delivery" value="standard" />
    <label for="standard">Standard Delivery <span>Free</span></label
    ><br />
    <input type="radio" id="express" name="delivery" value="express" />
    <label for="express">Express Delivery <span>+5$</span></label
    ><br />
  </div>
  <div class="info delivery">
    <div>
      <p>4. Payment</p>
    </div>
    <div class="payOnDelivery">
      <input
        type="radio"
        id="payOnDelivery"
        name="payment"
        value="payOnDelivery"
      />
      <label for="payOnDelivery">Pay on Delivery</label><br />
    </div>
  </div>
  <button class="btn">Place Order</button>
</div>
