:root {
  --main-color: #AD343E;
  --secondary-color: white;
  --btn-color-hover: #81282f;
  --info-color: #474747;
  --info-light-color: #ADB29E;
}

* {
  font-family: "Playfair Display", serif;

}

#g_a11y_announcement {
  display: none;
/*   margin: 0;
  padding: 0;
  box-sizing: border-box; */
}